.service-image-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 95%;
    margin: 20px auto;
    position: relative;
    height: 700px;
    border-radius: 30px;
}

.service-image-wrapper {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.service-image-bg {
    width: 100%;
    height: auto;
    display: block;
}

.service-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.service-image-wrapper:hover .service-image-overlay {
    opacity: 1;
}

.service-image-title {
    position: absolute;
    top: 50px;
    left: 90px;
    color: white;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 5px;
}

.hero-dot-play {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-dots {
    list-style: none;
    padding: 0;
    display: flex;
}

.hero-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-dot.active {
    background-color: white; 
}

