.counter {
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.left-side {
    width: 50%;
    max-width: 600px;
    background-color: #135d3b;
    padding: 22px;
    color: white;
    box-sizing: border-box;
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically if needed */
}

.left-side h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.left-side h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.left-side p {
    margin-bottom: 1rem;
}

.left-side button:hover {
    color: #135d3b;
}

.right-side {
    width: 50%;
    max-width: 600px;
    background-color: white;
    padding: 8px;
    color: #135d3b;
    box-sizing: border-box;
    margin: 0 auto;
    margin-left: 0;
}

.counter-container {
    padding: 0 5rem;
}


.counter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.counter-item {
    text-align: center;
    max-width: 800px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.counter-item h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.counter-item p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.btn {
    background: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 20px; /* Optional: Add some space above the button */
}