nav {
    width: 100%;
    color: #fff;
    padding: 4px 0px;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.nav-logo {
    width: 180px;
    padding: 20px;
}

nav ul {
    flex-direction: row;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    background: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.hover-effect:hover {
    color: green;
}

.hover-effect-green:hover {
    color: green;
}
.hover-effect:hover {
    color: #61bd93;
}


.green-nav {
    background: #1d1d1f;    
    transition: 0.5s;
    color: white;
}
.nav-path{
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
    
.mobile-menu-icon {
    display: none;
    font-size: 20px;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #135d3b;
    }

    nav ul.active {
        display: flex;
    }

    .mobile-menu-icon {
        display: block; 
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }
}
